html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #080c20;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding-block-start: 2.5rem;
}

.main {
  padding: 0 1.5rem;
}

.hero__left, .hero__right {
  display: none;
}
.hero__mobile {
  width: 25.625rem;
  height: 14.5625rem;
  margin-block-start: 3.53125rem;
  margin-inline-start: -1.5rem;
  display: block;
}
.hero__content__heading {
  margin: 0 auto;
  margin-block-start: 2.96875rem;
  width: 75%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #ffffff;
}
.hero__content__heading--green {
  color: #3ee9e5;
}
.hero__content__para {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  color: #777f98;
  text-align: center;
  margin-block-start: 1.4375rem;
}
.hero__content__image {
  display: block;
  margin: 0 auto;
  margin-block-start: 2rem;
}

.cards {
  display: grid;
  gap: 3.5rem;
  margin-block-start: 9rem;
}
.cards .card .passions {
  padding: 1.375rem 1.5rem 1.375rem 1.875rem;
}
.cards .card .financial-freedom {
  padding: 1.75rem 2rem;
}
.cards .card .lifestyle {
  padding: 1.6875rem 1.875rem 1.625rem 1.875rem;
}
.cards .card .work-anywhere {
  padding: 2.125rem 1.3125rem 2.0625rem 1.3125rem;
}
.cards .card__image {
  scale: 0.75;
}
.cards .card__image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #093f68;
  border-radius: 2.8125rem;
  width: 45%;
  margin: 0 auto;
}
.cards .card__heading {
  margin-block-start: 2rem;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-align: center;
  color: #ffffff;
}
.cards .card__para {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  text-align: center;
  color: #777f98;
  margin-block-start: 0.6875rem;
}

.pricing {
  margin-block-start: 9rem;
}
.pricing__heading {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  text-align: center;
  color: #ffffff;
}
.pricing__para {
  margin-block-start: 1.6875rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  text-align: center;
  color: #777f98;
}

.free {
  background: #093f68;
  border-radius: 8px;
  padding: 49px 29px 32px 30px;
  margin-block-start: 4.6875rem;
}
.free__image {
  position: absolute;
  margin-block-start: -4.5rem;
}
.free__heading {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #ffffff;
}
.free__para {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-block-start: 1.1875rem;
}
.free__price {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.4375rem;
  color: #ffffff;
  margin-block-start: 1.625rem;
}
.free__benefits {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  padding-inline-start: 1.25rem;
  list-style-image: url(./assets/icon-check-free.svg);
  margin: 0;
  margin-block-start: 1.1875rem;
}
.free__benefits__item + .free__benefits__item {
  margin-block-start: 0.75rem;
}

.paid {
  background: #3ee9e5;
  border-radius: 0.5rem;
  margin-block-start: 4.0625rem;
  padding: 3.8125rem 1.8125rem 2rem 1.875rem;
}
.paid__image {
  position: absolute;
  margin-block-start: -5.875rem;
}
.paid__heading {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #080c20;
}
.paid__para {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #080c20;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-block-start: 1.1875rem;
}
.paid__price {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.4375rem;
  color: #080c20;
  margin-block-start: 1.625rem;
}
.paid__price--light {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin-inline-start: 0.46875rem;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.paid__benefits {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #080c20;
  padding-inline-start: 1.25rem;
  list-style-image: url(./assets/icon-check-paid.svg);
  margin: 0;
  margin-block-start: 1.1875rem;
}
.paid__benefits__item + .paid__benefits__item {
  margin-block-start: 0.75rem;
}

.footer {
  padding: 0 1.46875rem;
  margin-block-start: 9rem;
  padding-block-end: 10.25rem;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  background-size: 36.5rem 5rem;
}
.footer__text {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  text-align: center;
  color: #ffffff;
}
.footer__input {
  background: #093f68;
  border-radius: 1.5rem;
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #ffffff;
  border: 2px solid #093f68;
  padding: 0.75rem 8.8125rem 0.6875rem 1.125rem;
  margin-block-start: 2.6875rem;
  width: 100%;
}
.footer__input:focus {
  outline: none;
  border-color: #3ee9e5;
}
.footer__button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  color: #093f68;
  background: #3ee9e5;
  border-radius: 1.5rem;
  border: 2px solid #3ee9e5;
  padding: 0.625rem 2.625rem 0.5625rem 2.625rem;
  margin-block-start: 2.25rem;
  width: 100%;
}
.footer__button:hover {
  color: #ffffff;
  border-color: #3ee9e5;
  background-color: #080c20;
}

@media (min-width: 37.5em) {
  .header {
    padding-block-start: 3rem;
    padding-inline-start: 2.4375rem;
    justify-content: flex-start;
  }
  .main {
    padding: 0 6.0625rem;
  }
  .main .hero {
    display: flex;
    margin-block-start: 5.4375rem;
  }
  .main .hero__left, .main .hero__right {
    display: block;
    width: 19.625rem;
    height: 22.25rem;
  }
  .main .hero__left {
    margin-inline-start: -18.125rem;
  }
  .main .hero__right {
    margin-inline-end: -18.125rem;
  }
  .main .hero__mobile {
    display: none;
  }
  .main .hero__content {
    min-width: 28.5625rem;
    margin: 0 0.625rem;
    background: url(./assets/bg-footer-squiggle.svg);
    background-repeat: no-repeat;
    background-size: 386px 268px;
  }
  .main .hero__content__heading {
    margin-block-start: 3.1875rem;
  }
  .main .hero__content__para {
    margin-block-start: 1.5rem;
  }
  .main .cards {
    gap: 2.5rem;
    margin-block-start: 6.8125rem;
  }
  .main .cards .card {
    display: flex;
  }
  .main .cards .card__align__left {
    padding-inline-start: 3.625rem;
  }
  .main .cards .card__align__right {
    padding-inline-end: 3.625rem;
  }
  .main .cards .card__content {
    margin-inline-start: 3.4375rem;
    min-width: 21.25rem;
  }
  .main .cards .card__heading {
    text-align: start;
  }
  .main .cards .card__para {
    text-align: start;
  }
  .main .pricing {
    margin-block-start: 8.8125rem;
  }
  .main .free {
    margin: 0 3.9375rem;
    margin-block-start: 4.9375rem;
    padding: 49px 40px 48px 36px;
  }
  .main .paid {
    margin: 0 3.9375rem;
    margin-block-start: 4.0625rem;
    padding: 3.8125rem 2.375rem 3.75rem 2.375rem;
  }
  .footer {
    padding: 0 9.0625rem;
    margin-block-start: 8.4375rem;
    padding-block-end: 7.4375rem;
    background-size: 63.875rem 8.75rem;
  }
  .footer__input-and-button {
    display: flex;
    align-items: center;
    margin-block-start: 29px;
  }
  .footer__input {
    margin-block-start: 0;
    width: 67%;
  }
  .footer__button {
    margin-block-start: 0;
    margin-inline-start: 1rem;
    width: 29.5%;
    padding: 0.625rem 1.125rem 0.5625rem;
  }
}
@media (min-width: 75em) {
  .header {
    padding-block-start: 5.0625rem;
    padding-inline-start: 10.3125rem;
  }
  .main {
    padding: 0 10.3125rem;
  }
  .main .hero {
    margin-block-start: 7.75rem;
  }
  .main .hero__left, .main .hero__right {
    width: 25.5rem;
    height: 28.6875rem;
  }
  .main .hero__left {
    margin-inline-start: -13.75rem;
  }
  .main .hero__right {
    margin-inline-end: -13.75rem;
  }
  .main .hero__content {
    background-size: 34.6875rem 23.625rem;
  }
  .main .hero__content__heading {
    margin-block-start: 4.4375rem;
    font-size: 48px;
    line-height: 56px;
  }
  .main .hero__content__para {
    margin: 1.5rem auto 0;
    width: 75.6%;
  }
  .main .hero__content__image {
    margin-block-start: 4rem;
  }
  .main .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .main .cards .card {
    flex-direction: column;
  }
  .main .cards .card .passions {
    padding: 29px 80px 29px;
  }
  .main .cards .card .financial-freedom {
    padding: 38px 80px 37px;
  }
  .main .cards .card .lifestyle {
    padding: 36px 80px 34px;
  }
  .main .cards .card .work-anywhere {
    padding: 45px 80px;
  }
  .main .cards .card__image {
    scale: 1;
  }
  .main .cards .card__image__container {
    margin: 0;
  }
  .main .cards .card__align__right {
    padding: 0;
    padding-block-start: 48px;
  }
  .main .cards .card__align__left {
    padding: 0;
  }
  .main .cards .card__content {
    margin: 0;
    min-width: 14.875rem;
  }
  .main .cards .card__heading {
    margin-block-start: 3rem;
  }
  .main .cards .card__para {
    margin-block-start: 1.4375rem;
  }
}

/*# sourceMappingURL=style.css.map */
