@use "sass:math" as math;

@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

$turquoise: hsl(179, 80%, 58%);
$blue: hsl(206, 84%, 22%);
$grey: hsl(225, 14%, 53%);
$white: hsl(0, 0%, 100%);
$black: hsl(230, 60%, 8%);

@mixin para() {
  font-weight: 500;
  font-size: pxToRem(15px);
  line-height: pxToRem(25px);
  color: $white;
}

@mixin button() {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: pxToRem(15px);
  line-height: pxToRem(25px);
  text-align: center;
  color: $blue;
  background: $turquoise;
  border-radius: pxToRem(24px);
  border: 2px solid $turquoise;

  &:hover {
    color: $white;
    border-color: $turquoise;
    background-color: $black;
    cursor: pointer;
  }
}

@mixin input() {
  background: $blue;
  border-radius: pxToRem(24px);
  font-weight: 800;
  font-size: pxToRem(15px);
  line-height: pxToRem(25px);
  color: $white;
  border: 2px solid $blue;

  &:focus {
    outline: none;
    border-color: $turquoise;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: $black;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding-block-start: pxToRem(40px);
}

.main {
  padding: 0 pxToRem(24px);
}

.hero {
  &__left,
  &__right {
    display: none;
  }

  &__mobile {
    width: pxToRem(410px);
    height: pxToRem(233px);
    margin-block-start: pxToRem(56.5px);
    margin-inline-start: pxToRem(-24px);
    display: block;
  }

  &__content {
    &__heading {
      margin: 0 auto;
      margin-block-start: pxToRem(47.5px);
      width: 75%;
      font-weight: 800;
      font-size: pxToRem(32px);
      line-height: pxToRem(40px);
      text-align: center;
      color: $white;

      &--green {
        color: $turquoise;
      }
    }

    &__para {
      @include para();
      color: $grey;
      text-align: center;
      margin-block-start: pxToRem(23px);
    }

    &__image {
      display: block;
      margin: 0 auto;
      margin-block-start: pxToRem(32px);
    }
  }
}

.cards {
  display: grid;
  gap: pxToRem(56px);
  margin-block-start: pxToRem(144px);

  .card {
    .passions {
      padding: pxToRem(22px) pxToRem(24px) pxToRem(22px) pxToRem(30px);
    }

    .financial-freedom {
      padding: pxToRem(28px) pxToRem(32px);
    }

    .lifestyle {
      padding: pxToRem(27px) pxToRem(30px) pxToRem(26px) pxToRem(30px);
    }

    .work-anywhere {
      padding: pxToRem(34px) pxToRem(21px) pxToRem(33px) pxToRem(21px);
    }

    &__image {
      scale: 0.75;
    }

    &__image__container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $blue;
      border-radius: pxToRem(45px);
      width: 45%;
      margin: 0 auto;
    }

    &__heading {
      margin-block-start: pxToRem(32px);
      font-weight: 800;
      font-size: pxToRem(18px);
      line-height: pxToRem(25px);
      text-align: center;
      color: $white;
    }

    &__para {
      @include para();
      text-align: center;
      color: $grey;
      margin-block-start: pxToRem(11px);
    }
  }
}

.pricing {
  margin-block-start: pxToRem(144px);
  &__heading {
    font-weight: 800;
    font-size: pxToRem(24px);
    line-height: pxToRem(33px);
    text-align: center;

    color: $white;
  }

  &__para {
    margin-block-start: pxToRem(27px);
    @include para();
    text-align: center;
    color: $grey;
  }
}

.free {
  background: $blue;
  border-radius: 8px;
  padding: 49px 29px 32px 30px;
  margin-block-start: pxToRem(75px);

  &__image {
    position: absolute;
    margin-block-start: pxToRem(-72px);
  }

  &__heading {
    font-weight: 800;
    font-size: pxToRem(18px);
    line-height: pxToRem(25px);
    color: $white;
  }

  &__para {
    font-weight: 500;
    font-size: pxToRem(15px);
    line-height: pxToRem(25px);
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-block-start: pxToRem(19px);
  }

  &__price {
    font-weight: 800;
    font-size: pxToRem(40px);
    line-height: pxToRem(55px);
    color: $white;
    margin-block-start: pxToRem(26px);
  }

  &__benefits {
    font-weight: 500;
    font-size: pxToRem(15px);
    line-height: pxToRem(25px);
    color: #ffffff;
    padding-inline-start: pxToRem(20px);
    list-style-image: url(./assets/icon-check-free.svg);
    margin: 0;
    margin-block-start: pxToRem(19px);

    &__item + &__item {
      margin-block-start: pxToRem(12px);
    }
  }
}

.paid {
  background: #3ee9e5;
  border-radius: pxToRem(8px);
  margin-block-start: pxToRem(65px);
  padding: pxToRem(61px) pxToRem(29px) pxToRem(32px) pxToRem(30px);

  &__image {
    position: absolute;
    margin-block-start: pxToRem(-94px);
  }

  &__heading {
    font-weight: 800;
    font-size: pxToRem(18px);
    line-height: pxToRem(25px);
    color: $black;
  }

  &__para {
    font-weight: 500;
    font-size: pxToRem(15px);
    line-height: pxToRem(25px);
    color: $black;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-block-start: pxToRem(19px);
  }

  &__price {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: pxToRem(40px);
    line-height: pxToRem(55px);
    color: $black;
    margin-block-start: pxToRem(26px);

    &--light {
      font-weight: 500;
      font-size: pxToRem(15px);
      line-height: pxToRem(25px);
      margin-inline-start: pxToRem(7.5px);
      mix-blend-mode: normal;
      opacity: 0.6;
    }
  }

  &__benefits {
    font-weight: 500;
    font-size: pxToRem(15px);
    line-height: pxToRem(25px);
    color: $black;
    padding-inline-start: pxToRem(20px);
    list-style-image: url(./assets/icon-check-paid.svg);
    margin: 0;
    margin-block-start: pxToRem(19px);

    &__item + &__item {
      margin-block-start: pxToRem(12px);
    }
  }
}

.footer {
  padding: 0 pxToRem(23.5px);
  margin-block-start: pxToRem(144px);
  padding-block-end: pxToRem(164px);
  display: flex;
  flex-direction: column;
  background-image: url(./assets/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  background-size: pxToRem(584px) pxToRem(80px);

  &__text {
    font-weight: 800;
    font-size: pxToRem(24px);
    line-height: pxToRem(33px);
    text-align: center;
    color: #ffffff;
  }

  &__input {
    @include input();
    padding: pxToRem(12px) pxToRem(141px) pxToRem(11px) pxToRem(18px);
    margin-block-start: pxToRem(43px);
    width: 100%;
  }

  &__button {
    @include button();
    padding: pxToRem(10px) pxToRem(42px) pxToRem(9px) pxToRem(42px);
    margin-block-start: pxToRem(36px);
    width: 100%;
  }
}

@media (min-width: 37.5em) {
  .header {
    padding-block-start: pxToRem(48px);
    padding-inline-start: pxToRem(39px);
    justify-content: flex-start;
  }

  .main {
    padding: 0 pxToRem(97px);

    .hero {
      display: flex;
      margin-block-start: pxToRem(87px);

      &__left,
      &__right {
        display: block;
        width: pxToRem(314px);
        height: pxToRem(356px);
      }

      &__left {
        margin-inline-start: pxToRem(-290px);
      }

      &__right {
        margin-inline-end: pxToRem(-290px);
      }

      &__mobile {
        display: none;
      }

      &__content {
        min-width: pxToRem(457px);
        margin: 0 pxToRem(10px);
        background: url(./assets/bg-footer-squiggle.svg);
        background-repeat: no-repeat;
        background-size: pxToRem(386px) pxToRem(268px);

        &__heading {
          margin-block-start: pxToRem(51px);
        }

        &__para {
          margin-block-start: pxToRem(24px);
        }
      }
    }

    .cards {
      gap: pxToRem(40px);
      margin-block-start: pxToRem(109px);

      .card {
        display: flex;

        &__align {
          &__left {
            padding-inline-start: pxToRem(calc(155px - 97px));
          }

          &__right {
            padding-inline-end: pxToRem(calc(155px - 97px));
          }
        }

        &__content {
          margin-inline-start: pxToRem(55px);
          min-width: pxToRem(340px);
        }

        &__heading {
          text-align: start;
        }

        &__para {
          text-align: start;
        }
      }
    }

    .pricing {
      margin-block-start: pxToRem(141px);
    }

    .free {
      margin: 0 pxToRem(63px);
      margin-block-start: pxToRem(79px);
      padding: pxToRem(49px) pxToRem(40px) pxToRem(48px) pxToRem(36px);
    }

    .paid {
      margin: 0 pxToRem(63px);
      margin-block-start: pxToRem(65px);
      padding: pxToRem(61px) pxToRem(38px) pxToRem(60px) pxToRem(38px);
    }
  }

  .footer {
    padding: 0 pxToRem(145px);
    margin-block-start: pxToRem(135px);
    padding-block-end: pxToRem(119px);
    background-size: pxToRem(1022px) pxToRem(140px);

    &__form {
      display: flex;
      align-items: center;
      margin-block-start: pxToRem(29px);
    }

    &__input {
      margin-block-start: 0;
      width: 67%;
    }

    &__button {
      margin-block-start: 0;
      margin-inline-start: pxToRem(16px);
      width: 29.5%;
      padding: pxToRem(10px) pxToRem(18px) pxToRem(9px);
    }
  }
}

@media (min-width: 75em) {
  .header {
    padding-block-start: pxToRem(81px);
    padding-inline-start: pxToRem(165px);
  }

  .main {
    padding: 0 pxToRem(165px);

    .hero {
      margin-block-start: pxToRem(124px);
      justify-content: center;

      &__left,
      &__right {
        width: pxToRem(408px);
        height: pxToRem(459px);
      }

      &__left {
        margin-inline-start: pxToRem(-220px);
      }

      &__right {
        margin-inline-end: pxToRem(-220px);
      }

      &__content {
        background-size: pxToRem(555px) pxToRem(378px);
        background-position: top 0 left 50%;

        &__heading {
          margin-block-start: pxToRem(71px);

          font-size: pxToRem(48px);
          line-height: pxToRem(56px);
        }

        &__para {
          margin: pxToRem(24px) auto 0;
          width: 75.6%;
        }

        &__image {
          margin-block-start: pxToRem(64px);
        }
      }
    }

    .cards {
      grid-template-columns: repeat(4, 1fr);

      .card {
        flex-direction: column;

        .passions {
          padding: pxToRem(29px) pxToRem(80px) pxToRem(29px);
        }

        .financial-freedom {
          padding: pxToRem(38px) pxToRem(80px) pxToRem(37px);
        }

        .lifestyle {
          padding: pxToRem(36px) pxToRem(80px) pxToRem(34px);
        }

        .work-anywhere {
          padding: pxToRem(45px) pxToRem(80px);
        }

        &__image {
          scale: 1;

          &__container {
            margin: 0;
          }
        }

        &__align {
          &__right {
            padding: 0;
            padding-block-start: pxToRem(calc(250px - 202px));
          }
          &__left {
            padding: 0;
          }
        }

        &__content {
          margin: 0;
          min-width: pxToRem(238px);
        }

        &__heading {
          margin-block-start: pxToRem(48px);
        }

        &__para {
          margin-block-start: pxToRem(23px);
        }
      }
    }
    .pricing {
      margin-block-start: pxToRem(202px);

      &__heading {
        font-size: pxToRem(32px);
        line-height: pxToRem(44px);
      }

      &__para {
        margin: 0 auto;
        margin-block-start: pxToRem(24px);
        max-width: pxToRem(540px);
      }
    }

    .options {
      display: flex;
      justify-content: center;
    }

    .free {
      margin: 0;
      margin-block-start: pxToRem(117px);
      margin-inline-start: pxToRem(calc(260px - 165px));

      &__price {
        margin-block-start: pxToRem(24px);
      }
    }

    .paid {
      margin: 0;
      margin-block-start: pxToRem(105px);
      margin-inline-start: pxToRem(30px);
      margin-inline-end: pxToRem(calc(260px - 165px));

      &__price {
        margin-block-start: pxToRem(24px);
      }
    }
  }

  .footer {
    margin-block-start: pxToRem(203px);
    padding-block-end: pxToRem(159px);
    background-size: pxToRem(1664px) pxToRem(228px);
    background-position: top 0 left pxToRem(100px);

    &__text {
      font-size: pxToRem(32px);
      line-height: pxToRem(44px);
    }

    &__form {
      width: pxToRem(476px);
      margin: 0 auto;
      margin-block-start: pxToRem(42px);
    }

    &__message {
      width: 80%;
      font-weight: 500;
      font-size: pxToRem(12px);
      line-height: pxToRem(25px);
      margin-inline-start: pxToRem(18px);
      margin-block-start: pxToRem(4px);
      position: absolute;
      display: none;
    }

    &__input {
      width: 100%;
    }
  }
}
